


/* ------ordenando las tarjetitas ----*/
.contenedor-pag .galeria{
    background-color: var(--color-fondo-miniaturas);
    padding: 3%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem
}
.contenedor-pag .galeria > h5{
    text-align: right;
    font-weight: lighter;
    font-size: 0.7rem;
}
.contenedor-pag .galeria h4{
    font-size: 1.5rem;
}
.contenedor-pag .galeria > h2{
    font-size: 2rem;
    text-align: center;
    margin-top: -2rem;
}

/* pongo una grid para ordenar las tarjetas y darle tamaño min */
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

/* ordeno la imagen respecto de la lista con info, dentro de cada tarjeta */
.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 1.5rem;
    box-shadow: 0 0 3rem var(--color-sombra-tarjetitas);
}
.tarjeta img{
    object-fit: cover;
    max-width: 250px;
    width: 100%;
    height: 60%;
    border-radius: 1.5rem 1.5rem 0 0;
}
.tarjeta ul{
    text-align: center;
    list-style: none;
    color: var(--color-texto-emergente);
    font-weight: bold;
}
.tarjeta li:nth-child(odd){background: var(--color-botones);}
.tarjeta li:nth-child(even){background: var(--color-fondo);}


.contenedor-tarjetas .tarjeta{
    transition: all 0.25s;
}
.contenedor-tarjetas .tarjeta:hover{
    transform: translateY(-1rem);
    box-shadow: 0 2rem 2rem var(--color-sombra-tarjetitas);
}






/* ------galeria de paginas sobre refugios de animales */
.contenedor-pag .lista-refugios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contenedor-pag{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }
    .contenedor-pag .encabezado{
        grid-area: encabezado;
    }
    .contenedor-pag .galeria{
        grid-area: galeria;
    }
    .contenedor-pag .pie-pagina{
        grid-area: pie-pagina;
    }

    .contenedor-pag{
        grid-template-areas: "encabezado"
                            "galeria"
                            "pie-pagina";
    }
   

    .lista-refugios{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px){
    /* .contenedor-pag .encabezado{
        background-color: var(--color-fondo-miniaturas);
    } */

    /* .footer-contenedor-redes{
        width: 30%;
    } */
    /* .footer-contenedor-nosotros{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } */
}