/* --esto lo descrubrí muuuuy a lo último, asiq casi no lo implemente */
:root{
    --color-fondo: brown;
    --color-header: aqua;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 1rem;
}

html{
    background-color: var(--color-fondo);
    border: 0.5rem red solid;
    font-size: 1rem;
    font-family: monospace
}

header{
    background-color: var(--color-header);
    /* color: beige; */
    border: 0.5rem lightblue solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color: burlywood;
    border: 0.5rem lightcoral solid;
    margin: 0.5rem;
}

/* -----fooooter----- */
footer{
    background-color: blue;
    border: 0.5rem cornflowerblue solid;
    width: 100%;
    font-size: 1.1rem;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyleft{
    font-size: 1.5rem;
    display: inline-block;
    transform: rotateY(180deg);
}
.footer-contenedor-nosotros{
    display: block;
    justify-content: center;
 }
.footer-contenedor-redes{
    display: block;
}



/* ----encabezado------ */

header a{
    text-decoration: none;
    font-weight: bold;
    color: azure;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: blue;
}
header a:hover{
    transition: 0.5s;
    color: blueviolet;
    font-weight: bolder;
    /* padding: 0.5rem; */
    background-color: blanchedalmond;
}
.logo{
    display: flex;
}
.logo-img{
    height: 3rem;
}


/* -----area de seleccion------ */
main h2{
    text-align: center;
}

.contenedor-imagen{    
    background-color: azure;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    border-radius: 1rem;
}

.imagen{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* ...... */
.cuadro-imagen{
    position: relative;
    width: 100%;
}
.imagen{
    display: block;
    width: 100%;
}
.texto-sobreimpreso{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.25s;
}
.texto-sobreimpreso:hover{
    transition: 0.5s;
    transform: scale(1.1, 1.1);
    opacity: 1;
}


/* ------ordenando las tarjetitas ----*/
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 1rem;
    grid-gap: 2rem;

}
.tarjeta{
    background-color: blue;
    border-radius: 2rem;
    box-shadow: 0 0 3rem yellowgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.tarjeta img{
    position: relative;
    width: 100%;
    /* display: block; */
    border-radius: 2rem 2rem 0 0;
}
.tarjeta ul{
    text-align: center;
    list-style: none;
    color: white;
    font-weight: bold;
}
.tarjeta li:nth-child(odd){background: red;}


.contenedor-tarjetas .tarjeta{
    transition: all 0.25s;
}

.contenedor-tarjetas .tarjeta:hover{
    transform: translateY(-1rem);
    box-shadow: 0 2rem 2rem yellowgreen;
}


/* -----sobre los refugios---------- */
.lista-refugios{
    display: grid;
    grid-template-columns: 1fr;
}
.lista-refugios iframe{
    width: 100%;
    height: 15rem;
}


/* -----formulario------- */

.formulario h1{
    text-align: center;
}
.formulario h4{
    text-align: center;
}
.formulario form{
    margin: 2rem;
}

.formulario fieldset{
    border: 0.2rem blue solid;
}
.formulario .texto{
    text-align: center;
}

textarea{
    width: 80%;
    min-height: 5rem;
}



/* ---galeria---- */
h2{
    text-align: center;
    padding: 1.5rem;
}
h3{
    margin-left: 2rem;
}



/* --------------------------------------------------------------- */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        background-color: blue;
    }
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .lista-refugios{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
    header {
        background-color: pink;
    }
    main{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .lista-refugios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-contenedor-nosotros{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        /* display: flex;
        align-items: baseline;
        padding-right: 2rem; */
}

}


